# Ignore everything in this directory
*
# Except this file
!.gitignore
# The README
!README.txt
# Files that make things more consistent
!.editorconfig
!.pre-commit-config.yaml
!*.nix
!version
# Scripts
!scripts
# ADV scripts
!MES/
