# Ignore everything in this directory
*
# Except this file
!.gitignore
# The README
!README.txt
# Original files' checksums
!checksums.sha256
# Files that make things more consistent
!.editorconfig
!.pre-commit-config.yaml
!*.nix
!version
# Dir for GitHub stuff
!.github/
# Scripts
!scripts
# ADV scripts
!MES/
